<!DOCTYPE html>
{% load tz %}
<html lang="en">
<head>
</head>
<body>
<div>
    <h1>Claimee: {{ claim.yahoo_team.team_name }}</h1>
    <h2>Add: {{ claim.add_player }}</h2>
    {% if IR_PLAYER == True %}
        <h2>Move to IR: {{ claim.drop_player }}</h2>
    {% else %}
        <h2>Drop: {{ claim.drop_player }}</h2>
    {% endif %}
    {% if claim.claim_message != '' %}
        <br>
        <h2>
            Claim Message:
        </h2>
        <a>
            {{ claim.claim_message }}
        </a>
        <br>
        <br>
    {% endif %}

    <h3>Claim Start: {% timezone "America/Toronto" %}{{ claim.claim_start }}{% endtimezone %}</h3>
    <h3>Claim End: {% timezone "America/Toronto" %}{{ claim.claim_end_normal }}{% endtimezone %}</h3>
    <h4>
        <a href="{{ site.domain }}{% url 'waiver_claim-overclaim' pk=claim.id %}">
            Overclaim Link
        </a>
    </h4>
    <h4>
        <a href="{{ site.domain }}">
            Claim Site
        </a>
    </h4>
</div>
</body>
</html>