{% extends 'JJE_App/_layout.html' %}
{% load static %}
{% block title_block %}JJE League{% endblock %}
{% block content %}
    {% if not user.is_anonymous %}
        {% if show_oauth %}
            <div class="container new-claim-container">
                <div class="row new-claim-row">
                    <div class="col-lg-12">
                        <form action="/oauth">
                            <input type="submit" class="btn btn-success newclaim_btn" value="Link Yahoo">
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            {#            <div class="container">#}
            <div class="container new-claim-container">
                <div class="row new-claim-row">
                    <div class="col-lg-12">
                        <form action="/waiver_claim/new">
                            <input type="submit" class="btn btn-success newclaim_btn" value="New Claim">
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        <hr>
    {% endif %}


    {% for claim in object_list %}
        <div class="container claim-container" id={{ claim.id }}>
            <div class="row">
                <div team_id="{{ claim.team.id }}" class="col-lg-12">
                    <h4>Team: <strong>{{ claim.team }}</strong></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h5>Player Added: {{ claim.add_player }}</h5>
                    <h6>Position: {{ claim.get_position_add }}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% if claim.drop_IR == True %}
                        <h5>Moved to IR: {{ claim.drop_player }}</h5>
                    {% else %}
                        <h5>Player Dropped: {{ claim.drop_player }}</h5>
                    {% endif %}
                    <h6>Position: {{ claim.get_position_drop }}</h6>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 TIMEROW">
                    <h5>Time Remaining <p class="timecounter" end-time="{{ claim.claim_end }}">--:--:--</p></h5>
                </div>
            </div>

            {% if not user.is_anonymous and claim.team.id not in overclaim_ids %}
                <div class="row">
                    <div class="col-lg-3">
                        <form action="{% url 'waiver_claim-overclaim' pk=claim.id %}">
                            <input class="btn btn-primary overclaim_btn" type="submit" value="Overclaim">
                        </form>
                    </div>
                </div>
            {% endif %}

            {% if claim.team.id in user_team_ids%}
                <div class="row">
                    <div class="col-lg-3">
                        <form action="{% url 'waiver_claim-cancel' pk=claim.id %}">
                            <input class="btn btn-danger cancel_btn" type="submit" value="Cancel">
                        </form>
                    </div>
                </div>
            {% endif %}
            <br>

        </div>
        <hr class="hr_claim_{{ claim.id }}">
    {% empty %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4>No Current Waiver Claims</h4>
                </div>
            </div>
        </div>
    {% endfor %}
    <script src="{% static 'JJE_Waivers/worker.js' %}"></script>
{% endblock %}
